@import "panel/app-list.css";
@import "panel/window-list.css";
@import "panel/tray.css";

.panel {
    z-index: 9999999;
    position: fixed;
    display: grid;
    color: var(--panelFontColor);
    background: var(--panelBgColor);
}

.panel:is(.top,.bottom) {
    width: 100vw;
    height: var(--panelSize);
    grid-template-columns: calc((100vw - var(--panelSize)) / 2) var(--panelSize) calc((100vw - var(--panelSize)) / 2);
}

.panel:is(.left,.right) {
    width: var(--panelSize);
    height: 100vh;
    grid-template-rows:calc((100vh - var(--panelSize)) / 2) var(--panelSize) calc((100vh - var(--panelSize)) / 2);
}

.panel:is(.top,.left) {
    top: 0;
    left: 0;
}

.panel:is(.bottom,.right) {
    bottom: 0;
    right: 0;
}
