@import "panel/app-list.css";
@import "panel/window-list.css";
@import "panel/tray.css";

.panel {
    z-index: 99;
    position: fixed;
    display: flex;
    justify-content: center;
    color: var(--panelFontColor);
    background: var(--panelBgColor);
}

.panel.top {
    transition: top var(--animationDuration) ease-in;
}

.panel.bottom {
    transition: bottom var(--animationDuration) ease-in;
}

.panel.right {
    transition: right var(--animationDuration) ease-in;
}

.panel.left {
    transition: left var(--animationDuration) ease-in;
}

.panel:is(.top,.bottom) {
    width: 100vw;
    height: var(--panelSize);
    flex-direction: row;
}

.panel:is(.left,.right) {
    width: var(--panelSize);
    height: 100vh;
    flex-direction: column;
}

.panel:is(.top,.left) {
    top: 0;
    left: 0;
}

.panel:is(.bottom,.right) {
    bottom: 0;
    right: 0;
}
