* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
ul,
ul li,
li {
  width: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body #osPage {
  background: url('../pics/wallpapers/wallpaper5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
}
body #osPage #panel {
  z-index: 9999999;
  position: absolute;
  line-height: 50px;
}
body #osPage #panel #appsButton {
  color: inherit;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
}
body #osPage #panel #appsButton.active ~ #appList {
  display: block;
}
body #osPage #panel #time {
  color: inherit;
  font-size: 13px;
  padding: 0 10px;
  cursor: pointer;
}
body #osPage #panel #openedWindowList {
  color: inherit;
  font-size: 13px;
  padding: 0 10px;
  cursor: default;
}
body #osPage #panel #openedWindowList .barWindow {
  cursor: pointer;
  float: left;
  position: relative;
}
body #osPage #panel #openedWindowList .barWindow.minimized {
  display: none;
}
body #osPage #panel #openedWindowList .barWindow .barIcon {
  width: 30px;
  height: 30px;
  float: left;
}
body #osPage #panel #openedWindowList .barWindow .barIcon img {
  width: 20px;
  height: 20px;
  float: left;
  margin: 5px;
}
body #osPage #panel #appList.list {
  width: 150px;
  position: absolute;
  display: none;
  font-size: 13px;
  line-height: 20px;
}
body #osPage #panel #appList.list .appListElement {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
}
body #osPage #panel #appList.list .appListElement:hover .submenu {
  display: block;
}
body #osPage #panel #appList.list .appListElement .submenu {
  display: none;
  left: 150px;
  min-width: 100px;
  top: 0;
  position: absolute;
}
body #osPage #panel #appList.list .appListElement .submenu .app {
  width: 100%;
  padding: 0 5px;
}
body #osPage #panel #appList.list .appListElement .submenu .app span {
  width: 20px;
  height: 20px;
  float: left;
  margin: 5px;
}
body #osPage #panel #appList.grid {
  width: 250px;
  position: absolute;
  display: none;
  font-size: 13px;
  line-height: 20px;
}
body #osPage #panel #appList.grid .appListElement {
  width: 100%;
  height: auto;
  float: left;
  line-height: 30px;
  font-size: 13px;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
}
body #osPage #panel #appList.grid .appListElement .submenu {
  width: 100%;
  float: left;
}
body #osPage #panel #appList.grid .appListElement .submenu .app {
  width: 70px;
  height: 70px;
  padding: 5px;
  float: left;
}
body #osPage #panel #appList.grid .appListElement .submenu .app span {
  width: 100%;
  float: left;
  text-align: center;
  line-height: 15px;
}
body #osPage #panel #appList.grid .appListElement .submenu .app span:first-child {
  min-height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}
body #osPage #panel.top,
body #osPage #panel.bottom {
  left: 0;
  width: 100%;
  height: 50px;
}
body #osPage #panel.top #appsButton,
body #osPage #panel.bottom #appsButton {
  height: inherit;
  line-height: inherit;
  float: left;
}
body #osPage #panel.top #time,
body #osPage #panel.bottom #time {
  height: inherit;
  line-height: inherit;
  float: right;
}
body #osPage #panel.top #openedWindowList,
body #osPage #panel.bottom #openedWindowList {
  height: inherit;
  line-height: inherit;
  float: left;
}
body #osPage #panel.top #openedWindowList .barWindow,
body #osPage #panel.bottom #openedWindowList .barWindow {
  min-width: 100px;
  height: inherit;
  line-height: inherit;
}
body #osPage #panel.top #openedWindowList .barWindow .barIcon,
body #osPage #panel.bottom #openedWindowList .barWindow .barIcon {
  margin: 10px 0px;
}
body #osPage #panel.top #openedWindowList .barWindow .barTitle,
body #osPage #panel.bottom #openedWindowList .barWindow .barTitle {
  float: left;
  height: inherit;
  line-height: inherit;
}
body #osPage #panel.top + #desktop,
body #osPage #panel.bottom + #desktop {
  width: 100%;
  height: calc(100% - 50px);
  left: 0;
}
body #osPage #panel.left,
body #osPage #panel.right {
  top: 0;
  width: 70px;
  height: 100%;
}
body #osPage #panel.left #appsButton,
body #osPage #panel.right #appsButton {
  height: 50px;
  line-height: 60px;
  position: absolute;
  width: inherit;
  top: 0;
}
body #osPage #panel.left #time,
body #osPage #panel.right #time {
  height: 50px;
  line-height: 20px;
  width: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
}
body #osPage #panel.left #openedWindowList,
body #osPage #panel.right #openedWindowList {
  width: inherit;
  top: 50px;
  left: 0;
  height: auto;
  padding: 0px;
  position: absolute;
}
body #osPage #panel.left #openedWindowList .barWindow,
body #osPage #panel.right #openedWindowList .barWindow {
  width: 70px;
  height: 50px;
  line-height: 50px;
}
body #osPage #panel.left #openedWindowList .barWindow .barIcon,
body #osPage #panel.right #openedWindowList .barWindow .barIcon {
  margin: 10px;
  width: 50px;
}
body #osPage #panel.left #openedWindowList .barWindow .barIcon img,
body #osPage #panel.right #openedWindowList .barWindow .barIcon img {
  margin: 5px 15px;
}
body #osPage #panel.left #openedWindowList .barWindow .barTitle,
body #osPage #panel.right #openedWindowList .barWindow .barTitle {
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: 10px;
  display: none;
  padding: 0px 5px;
}
body #osPage #panel.left #openedWindowList .barWindow:hover .barTitle,
body #osPage #panel.right #openedWindowList .barWindow:hover .barTitle {
  display: block;
}
body #osPage #panel.left + #desktop,
body #osPage #panel.right + #desktop {
  width: calc(100% - 70px);
  height: 100%;
  top: 0;
}
body #osPage #panel.top {
  top: 0;
}
body #osPage #panel.top #appList {
  top: 50px;
  left: 0;
}
body #osPage #panel.top + #desktop {
  top: 50px;
}
body #osPage #panel.bottom {
  bottom: 0;
}
body #osPage #panel.bottom #appList {
  bottom: 50px;
  left: 0;
}
body #osPage #panel.bottom + #desktop {
  top: 0;
}
body #osPage #panel.left {
  left: 0;
}
body #osPage #panel.left #appList {
  top: 0;
  left: 70px;
}
body #osPage #panel.left #openedWindowList .barWindow .barTitle {
  left: 70px;
}
body #osPage #panel.left + #desktop {
  left: 70px;
}
body #osPage #panel.right {
  right: 0;
}
body #osPage #panel.right #appList {
  top: 0;
  right: 70px;
}
body #osPage #panel.right #appList.list .appListElement .submenu {
  right: 150px;
  left: auto;
}
body #osPage #panel.right #openedWindowList .barWindow .barTitle {
  right: 70px;
}
body #osPage #panel.right + #desktop {
  left: 0;
}
body #osPage #desktop {
  position: absolute;
}
body #osPage #desktop .icon {
  width: 25px;
  height: 40px;
  position: absolute;
}
body #osPage #desktop .appWindow {
  position: absolute;
  min-width: 200px;
  min-height: 100px;
  width: auto;
  height: auto;
  border-radius: 2px;
  opacity: 0.9;
}
body #osPage #desktop .appWindow.focused {
  z-index: 1;
  opacity: 1;
}
body #osPage #desktop .appWindow .appWindowTop {
  width: 100%;
  height: 30px;
  float: left;
}
body #osPage #desktop .appWindow .appWindowTop .appWindowIcon {
  width: 30px;
  height: 30px;
  float: left;
}
body #osPage #desktop .appWindow .appWindowTop .appWindowIcon img {
  width: 20px;
  height: 20px;
  float: left;
  margin: 5px;
}
body #osPage #desktop .appWindow .appWindowTop .appWindowTitle {
  width: calc(100% - 90px);
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  cursor: move;
}
body #osPage #desktop .appWindow .appWindowTop .appWindowButtons {
  width: 60px;
  height: 30px;
  float: left;
  text-align: right;
}
body #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton {
  width: 10px;
  height: 10px;
  margin: 10px 5px;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
}
body #osPage #desktop .appWindow .appContent {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */