@import "vars.css";
@import "panel.css";
@import "expo.css";
@import "desktop.css";
@import "load-screen.css";

* {
    user-select: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[hidden] {
    display: none !important;
}

ul,
ul li,
li {
    width: inherit;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body,
.desktops-list .virtual-preview {
    background-color: var(--bgColor);
    background-image: var(--bgImage);
    background-size: var(--bgSize);
    background-position: var(--bgPosition);
    background-repeat: var(--bgRepeat);
}
