body.dark button {
  color: #eee;
  background-color: #3a3a3a;
  border: 1px solid #c1c1c1;
  outline: none;
}
body.dark button:active {
  border-color: #000;
}

body.light button {
  color: #000;
  background-color: #f6f6f6;
  border: 1px solid #c1c1c1;
  outline: none;
}
body.light button:active {
  border-color: #000;
}
