body.dark #osPage {
  background-color: #000;
}
body.dark #osPage #panel {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
body.dark #osPage #panel #appsButton {
  color: #09d;
}
body.dark #osPage #panel #appsButton.active,
body.dark #osPage #panel #appsButton:hover {
  background: rgba(0, 0, 0, 0.5);
}
body.dark #osPage #panel #appList {
  background: #eee;
}
body.dark #osPage #panel #appList.list .appListElement {
  color: #000;
}
body.dark #osPage #panel #appList.list .appListElement:hover {
  background: #4b9bff;
  color: #fff;
}
body.dark #osPage #panel #appList.list .appListElement .submenu {
  background: #eee;
}
body.dark #osPage #panel #appList.list .appListElement .submenu .app {
  color: #000;
}
body.dark #osPage #panel #appList.list .appListElement .submenu .app:hover {
  background: #4b9bff;
  color: #fff;
}
body.dark #osPage #panel #appList.grid .appListElement {
  color: #000;
}
body.dark #osPage #panel #appList.grid .appListElement .submenu .app {
  color: #000;
}
body.dark #osPage #panel #appList.grid .appListElement .submenu .app:hover {
  background: #4b9bff;
  color: #fff;
}
body.dark #osPage #panel #openedWindowList .barWindow {
  color: rgba(255, 255, 255, 0.5);
}
body.dark #osPage #panel #openedWindowList .barWindow.focused {
  color: #fff;
}
body.dark #osPage #panel.left #openedWindowList .barWindow .barTitle,
body.dark #osPage #panel.right #openedWindowList .barWindow .barTitle {
  background: #4c4c4c;
  color: #eee;
}
body.dark #osPage #desktop .appWindow {
  color: #eee;
  background: #1f1f1f;
}
body.dark #osPage #desktop .appWindow.focused {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}
body.dark #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton {
  border: 1px solid rgba(113, 93, 93, 0.51);
}
body.dark #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.close {
  background: #FF2C2C;
}
body.dark #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.minimize {
  background: #F1FF22;
}
body.dark #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.maximize,
body.dark #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.unmaximize {
  background: #00ADFF;
}
body.dark button {
  color: #eee;
  background-color: #3a3a3a;
  border: 1px solid #c1c1c1;
  outline: none;
}
body.dark button:active {
  border-color: #000;
}
body.light #osPage {
  background-color: #000;
}
body.light #osPage #panel {
  color: #000;
  background: rgba(0, 0, 0, 0.3);
}
body.light #osPage #panel #appsButton {
  color: #09d;
}
body.light #osPage #panel #appsButton.active,
body.light #osPage #panel #appsButton:hover {
  background: rgba(0, 0, 0, 0.5);
}
body.light #osPage #panel #appList {
  background: #eee;
}
body.light #osPage #panel #appList.list .appListElement {
  color: #000;
}
body.light #osPage #panel #appList.list .appListElement:hover {
  background: #4b9bff;
  color: #fff;
}
body.light #osPage #panel #appList.list .appListElement .submenu {
  background: #eee;
}
body.light #osPage #panel #appList.list .appListElement .submenu .app {
  color: #000;
}
body.light #osPage #panel #appList.list .appListElement .submenu .app:hover {
  background: #4b9bff;
  color: #fff;
}
body.light #osPage #panel #appList.grid .appListElement {
  color: #000;
}
body.light #osPage #panel #appList.grid .appListElement .submenu .app {
  color: #000;
}
body.light #osPage #panel #appList.grid .appListElement .submenu .app:hover {
  background: #4b9bff;
  color: #fff;
}
body.light #osPage #panel #openedWindowList .barWindow {
  color: rgba(0, 0, 0, 0.5);
}
body.light #osPage #panel #openedWindowList .barWindow.focused {
  color: #000;
}
body.light #osPage #panel #openedWindowList .barWindow:hover {
  background: rgba(125, 125, 125, 0.3);
}
body.light #osPage #panel.left #openedWindowList .barWindow .barTitle,
body.light #osPage #panel.right #openedWindowList .barWindow .barTitle {
  background: #a5a5a5;
  color: #000;
}
body.light #osPage #desktop .appWindow {
  color: #000;
  background: #ebebeb;
}
body.light #osPage #desktop .appWindow.focused {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}
body.light #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton {
  border: 1px solid rgba(113, 93, 93, 0.51);
}
body.light #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.close {
  background: #FF2C2C;
}
body.light #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.minimize {
  background: #F1FF22;
}
body.light #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.maximize,
body.light #osPage #desktop .appWindow .appWindowTop .appWindowButtons .windowButton.unmaximize {
  background: #00ADFF;
}
body.light button {
  color: #000;
  background-color: #f6f6f6;
  border: 1px solid #c1c1c1;
  outline: none;
}
body.light button:active {
  border-color: #000;
}
/*# sourceMappingURL=themes.css.map */