#settings-window section[data-id=wallpaper] {
    display: flex;
    flex-direction: column;
}

#settings-window section[data-id=wallpaper] > .wallpapers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#settings-window section[data-id=wallpaper] .wallpapers .image {
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 3px solid transparent;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#settings-window section[data-id=wallpaper] .wallpapers .image:hover {
    border-color: #00ADFF;
}
