.panel .appsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--appsBtnColor);
}

.appsButton i {
    pointer-events: none;
}

.appsButton.active,
.appsButton:hover {
    background: var(--appsBtnBgColorActive);
    color: var(--appsBtnColorActive);
}

.panel:is(.left,.right) .appsButton {
    width: var(--panelSize);
    height: 50px;
}

.panel:is(.top,.bottom) .appsButton {
    height: var(--panelSize);
    width: 50px;
}

.appsButton.active ~ .appList {
    pointer-events: initial;
    opacity: 1;
}

.appList {
    pointer-events: none;
    opacity: 0;
    display: grid;
    background-color: var(--appListBgColor);
    box-shadow: var(--windowShadow);
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 500px;
    width: 500px;
    justify-content: space-evenly;
    grid-template-columns: 100px 100px 100px 100px;
    grid-auto-rows: 100px;
    gap: 10px;
    transition: opacity var(--animationDuration) ease-in;
    overflow: auto;
}

.appList .appListElement {
    color: var(--appListFontColor);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    transition:color var(--animationDuration) ease-in,
    background-color var(--animationDuration) ease-in;
}

.appList .appListElement:hover {
    color: var(--appListFontColorActive);
    background-color: var(--appListElementBgColorActive);
}
.appList .appListElement:hover img{
    box-shadow: var(--windowShadow);
}

.appList .appListElement img {
    height: 30px;
    width: 30px;
    object-fit: scale-down;
    transition: box-shadow var(--animationDuration) ease-in;
}
