.panel .tray {
    display: flex;
}

.panel:is(.top,.bottom) .tray .time {
    height: 100%;
}

.panel:is(.left,.right) .tray .time {
    width: 100%;
    text-align: center;
}

.tray .time {
    color: inherit;
    font-size: 13px;
    padding: 10px;
}

