.openedWindowList {
    display: flex;
}

.openedWindowList .virtual-panel {
    display: none;
    width: inherit;
    height: inherit;
}

.openedWindowList .virtual-panel.active {
    display: flex;
}

.panel:is(.top,.bottom) .openedWindowList {
    height: inherit;
}

.panel:is(.top,.bottom) .openedWindowList .virtual-panel {
    flex-direction: row;
}

.panel:is(.left,.right) .openedWindowList {
    width: inherit;
}

.panel:is(.left,.right) .openedWindowList .virtual-panel {
    flex-direction: column;
}

.openedWindowList .barWindow {
    cursor: pointer;
    display: flex;
    width: var(--panelSize);
    height: var(--panelSize);
    position: relative;
    justify-content: center;
    align-items: center;
    transition: height var(--animationDuration) ease-in;
}

.openedWindowList .barWindow:hover {
    background: var(--windowListHoveredElementBgColor);
}

.openedWindowList .barWindow.closing {
    overflow: hidden;
    height: 0;
}

.openedWindowList .barWindow.focused .barIcon {
    border-color: #fff;
}

.openedWindowList .barWindow .barIcon {
    position: relative;
    height: 35px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 2px solid var(--iconBgColor);
    background-color: var(--iconBgColor);
    color: var(--color);
}

.openedWindowList .barWindow.minimized .barIcon {
    background-color: transparent;
    border-color: transparent;
    color: var(--iconBgColor);
}

.openedWindowList .barWindow .barIcon i:before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedWindowList .barWindow img {
    width: 30px;
    height: 30px;
    object-fit: scale-down;
}

.openedWindowList .barWindow .barTitle {
    position: absolute;
    padding: 5px;
    opacity: 0;
    transition: opacity var(--animationDuration) ease;
    pointer-events: none;
    border-radius: 5px;
    white-space: nowrap;
    background: var(--windowListElementTitleBgColor);
    color: var(--windowListElementTitleFontColor);
}

.openedWindowList .barWindow:hover .barTitle {
    opacity: 1;
}

.panel.left .openedWindowList .barWindow .barTitle {
    left: calc(var(--panelSize) + 5px);
}

.panel.right .openedWindowList .barWindow .barTitle {
    right: calc(var(--panelSize) + 5px);
}

.panel.top .openedWindowList .barWindow .barTitle {
    top: calc(var(--panelSize) + 5px);
}

.panel.bottom .openedWindowList .barWindow .barTitle {
    bottom: calc(var(--panelSize) + 5px);
}
